<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Processor</title>
    <!-- Include CSS file -->
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>
<body>
    <header>
        <h1>Welcome to PDF Processor</h1>
    </header>
    <main>
        <section class="operations">
            <div class="card">
                <h3>Merge PDF</h3>
                <img src="static/images/mergepdf.jpeg" alt="Merge PDF">
                <div class="card-content">
                    <a href="merge_pdf/" class="btn">Merge PDF</a>
                </div>
            </div>
            <div class="card">
                <h3>Compress PDF</h3>
                <img src="static/images/compresspdf.jpg" alt="Compress PDF">
                <div class="card-content">
                    <a href="compress_pdf/" class="btn">Compress PDF</a>
                </div>
            </div>
            <div class="card">
                <h3>Encrypt PDF</h3>
                <img src="static/images/encrypt.jpeg" alt="Encrypt PDF">
                <div class="card-content">
                    <a href="encrypt/" class="btn">Encrypt PDF</a>
                </div>
            </div>
            <div class="card">
                <h3>Decrypt PDF</h3>
                <img src="static/images/decrypt.jpeg" alt="Decrypt PDF">
                <div class="card-content">
                    <a href="decrypt/" class="btn">Decrypt PDF</a>
                </div>
            </div>
            <div class="card">
                <h3>Conversion of PDF to Word</h3>
                <img src="static/images/pdftoword.jpeg" alt=" PDF to word ">
                <div class="card-content">
                    <a href="pdf_to_word/" class="btn">Convert to Word</a>
                </div>
            </div>
            <div class="card">
                <h3>Conversion of word to PDF</h3>
                <img src="static/images/wordtopdf.jpeg" alt="word to PDF">
                <div class="card-content">
                    <a href="word_to_pdf/" class="btn">Convert to PDF</a>
                </div>
            </div>
            
        </section>
    </main>
    <footer>
        <p>&copy; 2024 PDF Processor. All rights reserved.</p>
    </footer>
</body>
</html>
